<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MelakifyMind.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MelakifyDo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MelakifyMind.Properties.Settings>
            <setting name="IsWatched" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WatchTime" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstReminder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="IsTranslucent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TranslucentMode" serializeAs="String">
                <value>میکا</value>
            </setting>
            <setting name="ColorPalette" serializeAs="String">
                <value>Orange</value>
            </setting>
        </MelakifyMind.Properties.Settings>
        <MelakifyDo.Properties.Settings>
            <setting name="IsWatched" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WatchTime" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstReminder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </MelakifyDo.Properties.Settings>
    </userSettings>
</configuration>